<div class="container-fluid">
  <div class="row">
      <div class="col-md-5 col-lg-4 col-xl-3 bg-dark vh-100">
            <div class="avatar-image" style="display: grid; align-items: center; justify-content: center; padding-top: 50px;">
              <img src="https://avatars.githubusercontent.com/u/33724338?v=4" style="width: 200px; height: 200px; border-radius: 200px">
              <h3 style="text-align: center; font-weight: 800; font-size: xx-large; padding-top: 10px; color: white;">Ali Fnaiech</h3>
            </div>
            <p class="ml-4" style="color: white; padding-top: 10px; padding-left: 32px;">Just a regular geek that loves solving problems.</p>
            <div>
              <ul style="list-style: none;">
                <li class="pb-3 pt-4"><img src="../assets/icons/github-brands-white.svg" style="height: 20px; width: 20px; margin-right: 5px; float: left;"><a href="https://github.com/alifnaiech/" style="color: white; text-decoration: none;">@alifnaiech</a></li>
                <li class="pb-3"><img src="../assets/icons/envelope.svg" style="height: 20px; width: 20px; margin-right: 5px; float: left;"><a href="mailto:alifnaiech@gmail.com" style="color: white; text-decoration: none;">alifnaiech@gmail.com</a> </li>
                <li><img src="../assets/icons/map-position.svg" style="height: 20px; width: 15px; margin-right: 5px; float: left;"><p style="color: white;">La Spezia, Italy</p></li>
              </ul>
            </div>

            <div style="padding-left: 5px;">
              <ul class="nav" style="list-style: none; margin-left: 22px;">
                <li class="nav-item p-2"><a href="https://www.facebook.com/ali.fnaiech.56/"><img src="../assets/icons/facebook.svg" style="height: 26px; width: 23px;" title="Facebook: alifnaiech"></a></li>
                <li class="nav-item p-2"><a href="https://www.linkedin.com/in/alifnaiech/"><img src="../assets/icons/linkedin.svg" style="height: 26px; width: 23px;" title="Linkedin: alifnaiech"></a></li>
                <li class="nav-item p-2"><a href="https://www.instagram.com/alifnaiech/"><img src="../assets/icons/instagram.svg" style="height: 26px; width: 23px;" title="Instagram: alifnaiech"></a></li>
                <li class="nav-item p-2"><a href="https://alifnaiech.com"><img src="../assets/icons/earth.svg" style="height: 23px; width: 23px;" title="Website: alifnaiech"></a></li>
                <li class="nav-item p-2"><a href="https://www.hackerrank.com/alifnaiech"><img src="../assets/icons/hackerrank.svg" style="height: 23px; width: 23px;" title="Hackerrank: alifnaiech"></a></li>
                <li class="nav-item p-2"><a href="https://twitter.com/ali_fnaiech"><img src="../assets/icons/twitter.svg" style="height: 23px; width: 23px;" title="Twitter: alifnaiech"></a></li>
              </ul>
            </div>
           
      </div>
      <div class="col-md-7 col-lg-8 col-xl-9" style="padding-top: 100px; background: #2f363d">
        <div class="container-md" style="max-width: 960px !important">
        <div>
          <h1 style="color: white; font-weight: 400; font-size: 50px;">Hi, I'm Ali<span role="img" class="wave" aria-label="waving hand" style="padding-left: 10px; cursor: pointer;">👋</span></h1>
          <h2><span style="color: white; border-bottom: 2px solid #18d26e; padding-bottom: 6px; font-size: 30px; font-weight: 400; text-align: center;"> Software Developer</span></h2>
        </div>
        <div class="pt-4" style="color: white;">
          <h4>My Interests</h4>
          <p>Topics that I want to learn more about.</p>
        </div>
        <div class="row">
        <div class="card m-2 card-transition cards-proprety">
          <a href="https://github.com/topics/python"><img style="height: 100px; width: 100px;" class="card-img-top" src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/python/python.png" alt="Python"></a>  
          <div class="card-body">
            <h5 class="card-title">Python</h5>
          </div>
        </div>
        <div class="card m-2 card-transition cards-proprety">
          <a href="https://github.com/topics/angular"><img style="height: 100px; width: 100px;" class="card-img-top" src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/angular/angular.png" alt="Angular"></a>
          <div class="card-body">
            <h5 class="card-title">Angular</h5>
          </div>
        </div>
        <div class="card m-2 card-transition cards-proprety">
          <a href="https://github.com/topics/node-js"><img style="height: 100px; width: 100px; margin-top: 10px;" class="card-img-top" src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/nodejs/nodejs.png" alt="Node.js"></a>
          <div class="card-body">
            <h5 class="card-title" style="text-align: center;">Node.js</h5>
          </div>
        </div>
        <div class="card m-2 card-transition cards-proprety">
          <a href="https://github.com/topics/docker"><img style="height: 100px; width: 100px;" class="card-img-top" src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/docker/docker.png" alt="Docker"></a>          
          <div class="card-body">
            <h5 class="card-title">Docker</h5>
          </div>
        </div>
        <div class="card m-2 card-transition cards-proprety">
          <a href="https://github.com/topics/ionic"><img style="height: 70px; width: 200px; margin-top: 10px" class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/Ionic-logo-landscape.svg/1200px-Ionic-logo-landscape.svg.png" alt="Ionic"></a>          
          <div class="card-body">
            <h5 class="card-title" style="text-align: center; ">Ionic</h5>
          </div>
        </div>
        <div class="card m-2 card-transition cards-proprety">
          <a style="text-decoration: none;" href="https://github.com/topics/algorithm"><div class="bg-blue-light f4 text-gray-light text-bold rounded-1 flex-shrink-0 text-center mx-auto mb-3" style=" width: 64px; height: 64px; line-height: 64px; margin-top:10px">#</div></a>          
          <div class="card-body">
            <h5 class="card-title">Algorithm</h5>
          </div>
        </div>
        </div>
      </div> 
    </div> 
  </div>
</div>